.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: 300px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 5px rgba(2, 0, 96, 0.25);
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  .items {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    .link {
      margin-top: 40px;
      cursor: pointer;
      position: relative;
    }
  }
  .item {
    display: flex;
    align-items: center;
    .icon {
      margin-right: 16px;
    }
  }
  .arrow {
    margin-left: 67px;
    rotate: 180deg;
  }
  .open {
    rotate: 0deg;
  }
}
