.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--navbar-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;

  .logoBlock {
    display: flex;
    align-items: center;
    .logo {
      margin-right: 24px;
    }
  }
  .personBlock {
    display: flex;
    align-items: center;
    .person {
      margin-right: 16px;
    }
  }
  .title {
    color: var(--accent-color);
    font-weight: 700;
  }
}





